---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Freaky Coffee">
  <main class="p-10 bg-yellow">
    <h1 class="text-5xl font-bold text-purple">Freaky Coffee</h1>
  </main>
</Layout>